@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');



body {
    font-family: "Syne", sans-serif;
}

::-webkit-scrollbar {
    width: 8px;

}

::-webkit-scrollbar-button {
    width: 8px;
    height: 5px;
}

::-webkit-scrollbar-track {
    /* background: #eee; */
    border: none;
    /* box-shadow: 0px 0px 3px #dfdfdf inset; */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #a09d9d;
    /* border: thin solid gray; */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #858383;

}

.projectMedias img {
    max-width: 620px;
}

.projectMedias:nth-of-type(odd) {
    display: flex;
    justify-content: right;
    width: 100%;
}

.projectMedias:nth-of-type(even) {
    display: flex;
    justify-content: left;
    width: 100%;
}

.linkItem {
    position: relative;
}

.linkItem::after {
    content: "";
    position: absolute;
    background-color: black;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0%;
    transition: width 0.3s ease;
}

.linkItem:hover::after {
    width: 100%;
}

.linkItemActive {
    position: relative;
}

.linkItemActive::after {
    content: "";
    position: absolute;
    background-color: black;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;

}

@media screen and (max-width: 1024px) {
    .headerText {
        font-size: 24px !important;
    }

    .linkText {
        font-size: 18px !important;
    }

    .projectDetailsTitle {
        font-size: 105px !important;
    }

    .projectDetailsImage {
        width: 100% !important;
    }
}

@media only screen and (min-width:689px) and (max-width:992px) {
    .projectDetailsTitle {
        font-size: 85px !important;
    }
}

@media only screen and (max-width:688px) {
    .projectDetailsTitle {
        font-size: 45px !important;
    }
}